body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar {
  background-color: #fff;
  position: relative;
  padding: 10px 10px 0 0;  
}

.navbar .logos {
  margin-left: 10px;
  position: relative;

}

.react_logo {
  max-width: 5%;
  height: auto;
}

.navbar .links {
  padding: 10px 16px;  
  text-align: right;
  font-size: 1.2rem;
  
}

.navbar a {
  text-decoration: none;
  margin-left: 16px;
  padding: 10px 10px;
  color: #808080;
}

.navbar a:hover {
  color: #cc5d33;

}

