html, body {
  font-family: Open Sans,Helvetica,Arial;
  margin: 0; 
  height: 100%;
}
.content {
  height: 100vh;
}
/* navigation bar */

.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  padding: 10px 0 0 0;
  width: 100%;
  height: 10%;
  min-height: 80px;
}
.logo {
  margin-left: 10px;
  padding-left: 20px;
  padding-bottom: 30px;
}
.react_logo {
  width: 70px;
  height: 70px;
  padding-left: 20px;
  padding-bottom: 30px;
}
.navbar ul {
  display: flex;
  justify-content: flex-end;
}
.links { 
  flex-grow: 1;
  padding: 40px 16px 20px 50px;  
  text-align: right;
  font-size: .9rem; 
  font-weight: bold; 
}
.links a {
  text-decoration: none;
  margin-left: 16px;
  padding: 10px 10px;
  color: #808080;
}
.links a:hover {
  color: #cc5d33;
}

/* Column sections */

.vertical-sections {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 90%;
}

/* sidebar */

.sidebar {
  background-color: #6a4b5b;
  color: #fff;
  font-size: 0.7rem; 
  position: relative;
  flex: 0 0 15%;
}
.sidebar_column {
  display: flex;
  flex-flow: column;
}
.sidebar_menu {
  display: flex;
  flex-flow: column;
  padding: 0 10px 0 0;
}
nav .menu {
  display: flex;
  flex-flow: column;
  justify-content: left;
  margin: 0px;
  padding-top: 5px;
}
nav .row-options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 10px 10px;
}
nav .row-options:hover {
  background-color: #cc5d33;
}
nav ul{
  list-style-type: none;
  padding-inline-start: 0px;
}
.row-options .link {
  color: #fff;
  text-decoration: none;
  padding-left: 10px;  
}
.welcome {
  width: 100%;
  padding: 16px 0 30px 10px; 
}
.power {
  padding: 16px 10px 10px 10px; 
  position: fixed;
  bottom: 0;
}

/* Main content section */

.content-section {

  background-color: #e8e8e8;
  color:#808080;
  flex: 0 0 85%;
  position: relative;

}
.dashboard_column {
  padding: 0 24px;
  width: 100%;
}
.page-header {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;  
}
.title-row {
  border-bottom: 1px solid #383535;
}
.title {
  display: inline-flex;
  align-items: baseline;
}
.title i {
  color: #383535;
}
.title-text {
  color: #383535;
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 20px;
  margin: 0;
}
.description {
  color: #383535;
  font-size: .7rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  box-sizing: border-box;
  background-color: #e8e8e8;
  border: 0px;
}
.card-items {
  display: flex;
  text-align: left;
  min-width: 6vw;
  min-height: 12vh;
  max-height: 12vh;
  height: 12vh;
  margin: .1rem;
  padding-top: .8vw;
  background-color: #aa405d;
  border-radius: .25rem;
  padding: 15px 30px 15px 30px;
  box-sizing: border-box;
  flex-wrap: wrap-reverse;
}
.card-text {
  flex: 0 0 75%;
  max-width: 75%;
  color: #fff;
  font-weight: 600;
  box-sizing: border-box;
}
.legend {
  padding-top: 10px;
  font-size: .7rem;  
}
.card-icon {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  color: #fff;
}
.row-graphs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #cc5d33;
  text-align: center; 
}
.graph {
  flex: 0 0 33%;
  max-width: 33%;
  width: 100%;
  padding: 0 15px; 
  flex-wrap: nowrap;
  box-sizing: border-box;
}
.box {
  height: 400px;
  background-color: rgb(213, 217, 221);
  padding: 0 10px;
}
.bizcharts {
  max-height: 300px;
}
.aip_table {
 padding: 0;
}
table {
  width: 100%;
  font-size: 0.8rem;
}
.name {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}  
.other_columns {
  border-bottom: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}  
.column_headers {
  font-size: 0.9rem;
  font-weight: bold;
  border-bottom: 1px solid grey;
  background-color: rgb(250, 246, 246);
  padding: 8px;
  font-weight: 600;
}
.fa-trash-alt {
  color: #cc5d33;
  padding: 10px 10px 0 0;
}
.aip-icon {
  color: #cc5d33;
  padding: 10px 10px 0 0;
}
.fa-cloud-download-alt {
  color: #cc5d33;
  padding: 10px 10px 0 0;
}
.fa-cogs {
  color: #cc5d33;
}
.fa-sign-out-alt {
  color: #cc5d33;
}
.links .logout a {
  margin-left: 0;
}
.pagination {
  display: flex;
  justify-content: center;  
}
.page-item {
  font-size: .8rem;  
}
.page-link {
  color: #817d7b; 
  border-color: #c9c7c7;
  background-color: #ecebeb;
}
.page-link a:active {
  background-color: #cc5d33;
  color: #fff;
}
.page-link a:hover:not(.active) {
  background-color: #cc5d33;
  color: #fff;
}
.add_aip h2 {
  font-size: 15px;
  color: #cc5d33;
  margin-bottom: 30px;
}
.add_aip label {
  font-size: 14px;
}
.add_aip input {
  width: 100%;
  font-size: 0.8rem;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.add_aip button {
  background: #cc5d33;
  font-size: 14px;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.aip-details {
  font-size: 0.8rem;
  color: #cc5d33;
}
